.custom-navbar {
  background-color: #18181a !important; /* deep black */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.2s;
  position: relative;
}

.custom-navbar .nav-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2.5px;
  background: linear-gradient(90deg, #363738, #3a3b3b);
  transition: width 0.3s;
  border-radius: 2px;
  margin-top: 3px;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  color: gray !important;
}

.custom-navbar .nav-link:hover::after,
.custom-navbar .nav-link.active::after {
  width: 100%;
}

.custom-navbar .navbar-toggler {
  border-color: #fff;
}
.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
